.form
  display: flex
  flex-direction: column
  align-items: center
.head
  text-align: center
.name-field
  width: 50%

label
  margin-top: 20px!important

.email-field
  width: 50%

.text-field
  width: 50%
  height: 200px

.submit-container
  margin-top: 10px
  display: flex
  justify-content: center

.submit
  width: 250px
  border: solid 1px gray
  border-radius: 20px
  padding: 10px
  cursor: pointer

.submit:hover
  background: #61dafb

@media screen and (max-width:800px)
  .text-field
    width: 100%
  .name-field
    width: 100%

  .email-field
    width: 100%
